<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="./assets/style/font-awesome.css" />
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Paytone+One&family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body class="bg-neutral-100">
    <!-- navigation -->
    <nav class="border-b border-black">
      <div class="container flex justify-between">
        <a href="index.html" class="logo block py-4 lg:py-8"
          ><img src="assets/images/logo.svg" alt=""
        /></a>
        <div class="flex">
          <a
            href="#"
            class="search flex w-auto items-center justify-between border-black px-4 sm:border-l lg:w-[432px] lg:px-10"
          >
            <p class="hidden pr-2 text-neutral-500 md:block">
              搜索作品名稱、藝術家名稱
            </p>
            <i
              class="fa-solid fa-magnifying-glass text-xl text-black md:text-lg"
            ></i>
          </a>
          <ul class="hidden items-stretch sm:flex">
            <li>
              <a
                href="collections.html"
                class="flex h-full items-center whitespace-nowrap border-l border-black px-4 lg:px-10"
                >探索</a
              >
            </li>
            <li>
              <a
                href="ranking.html"
                class="flex h-full items-center whitespace-nowrap border-l border-black px-4 lg:px-10"
                >市值</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex h-full items-center whitespace-nowrap border-l border-black px-4 lg:px-10"
                ><i class="fa-solid fa-wallet text-2xl"></i
              ></a>
            </li>
          </ul>
          <div class="flex items-center border-black px-6 text-2xl sm:hidden">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
      </div>
    </nav>

    <%- contents %>

    <div class="mt-20 h-[1px] bg-black"></div>
    <div class="mt-2 h-1 bg-black"></div>

    <footer class="container py-6 text-center">
      © ART NFT. All Rights Reserved
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>

    <!-- Masonry js -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  </body>
</html>
